@import url("base.css");
* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);  /*消除点击时的高亮*/
	-webkit-text-size-adjust: none;
}
a {
	text-decoration: none;
}
body {
/*	position: relative;*/
}
/*头部开始*/
.top {
	width: 100%;
	height: 0.88rem;
	padding: 0 0.25rem;
	background: #FFFFFF;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.top a {
	width: 0.3rem;
	height: 100%;
	background: #FFFFFF;
}
.top i {
	font-size: 0.3rem;
	color: #3237fb;
	line-height: 0.88rem;
	float: left;
}
.top .top-right i {
	margin-left: 0.1rem;
}
.top h1 {
	font-size: 0.35rem;
	font-weight: 700;
	color: #000000;
}
/*头部结束*/

/*银行卡详情开始*/
.dingdan-box {
	position: absolute;
	top: 0.88rem;
	bottom: 0;
	width: 100%;
	padding: 0 0.25rem;
	background: -webkit-linear-gradient(-105deg,#3135f0, #2e70f8 20%, #e1ecf1 55%);
}
.dingdan-box h4 {
	color: #abb4fa;
	font-size: 0.24rem;
	line-height: 0.68rem;
}
.dingdan-box h1 {
	color: #FFFFFF;
	font-size: 0.4rem;
	font-weight: bold;
}
.dingdan-box h1 i {
	float: right;
	font-size: 0.32rem;
	color: #FFFFFF;
	margin-right: 1.7rem;
	margin-top: 0.06rem;
}
.dingdan-box h2 {
	display: block;
	color: #FFFFFF;
	font-size: 0.3rem;
	line-height: 0.78rem;
}
.dingdan-box h2 span {
	margin-left: 0.95rem;
}

/*订单数据开始*/
.shuju {
	width: 6.7rem;
	padding: 0 0.25rem;
	background: #FFFFFF;
	margin: 0 auto;
	box-shadow: 0 0.03rem 0.2rem 0.02rem #817d7d;
}
.shuju .shuju-top {
	width: 100%;
	height: 0.98rem;
	border-bottom: 0.01rem dashed #acaaaa;
}
.shuju .shuju-top:last-child {
	border-bottom: 0;
}
.shuju-top .left {
	display: inline;
	float: left;
	font-size: 0.24rem;
	color: #000000;
	/*line-height: 0.98rem;*/
}
.shuju-top:last-child .left {
	line-height: 0.98rem;
}
.shuju-top .left span{
	display: block;
	font-size: 0.24rem;
	color: #000000;
	margin-top: 0.22rem;
}
.shuju-top .left span.text {
	display: block;
	float: left;
	margin-top: 0.1rem;
	font-size: 0.18rem;
	color: #FFFFFF;
	background: #060bf0;
}
.shuju-top .right {
	float: right;
	display: inline;
	font-size: 0.24rem;
	color: #3b55f0;
	line-height: 0.94rem;
}
.shuju-top .right i {
	font-size: 0.3rem;
	color: #7F7F7F;
	margin-left: 0.2rem;

}
/*订单数据结束*/

/*具体订单开始*/
.dingdan-info {
	width: 6.7rem;
	padding: 0 0.25rem;
	background: #FFFFFF;
	margin: 0 auto;
	margin-top: 0.25rem;
	box-shadow: 0 0.03rem 0.2rem 0.02rem #817d7d;
}
.dingdan-info .title {
	width: 100%;
	height: 0.88rem;
	font-size: 0.32rem;
	line-height: 0.88rem;
	color: #000000;
	font-weight: bold;
	text-align: center;
	border-bottom: 0.02rem solid #b7b7b7;
}
.dingdan-wrap {
	width: 100%;
	height: 0.88rem;
	font-size: 0.24rem;
	line-height: 0.88rem;
	color: #333333;
	border-bottom: 0.01rem dashed #d5d4d4;
	margin-top: 0.01rem;
	
}
.dingdan-wrap a {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}
.dingdan-wrap i {
	font-size: 0.26rem;
	color: #999999;
	float: left;
	line-height: 0.88rem;
}
.dingdan-wrap i#zhifubao {
	font-size: 0.45rem;
	color: #38b1fa;
}
.dingdan-wrap i#weixin {
	font-size: 0.45rem;
	color: #70ea43;
}
.dingdan-wrap i#yinhangka {
	font-size: 0.45rem;
	color: #f73681;
}
.dingdan-wrap i#huabei {
	font-size: 0.45rem;
	color: #49c4fe;
}
.dingdan-wrap i#qianbao {
	font-size: 0.45rem;
	color: #eedb33;
}
.dingdan-wrap:nth-child(4) i {
	font-size: 0.26rem;
	color: #4dc2e8;
}
.dingdan-wrap span {
	font-size: 0.24rem;
	color: #000000;
	float: left;
	margin-left: 0.15rem;
	line-height: 0.88rem;
}
/*具体订单结束*/
/*银行卡详情结束*/

